@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  list-style: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: rgb(255, 249, 239);
  font-family: "Poppins", sans-serif;
}
*::selection {
  background: rgb(64, 41, 0);
  color: rgb(255, 255, 255);
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: rgb(255, 233, 191);
}
html::-webkit-scrollbar-thumb {
  background: rgb(121, 78, 0);
}
.heading {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 0.125rem;
}
.heading span {
  color: rgb(255, 170, 13);
}

/* navbar starts */
.navbar {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1;
  background: rgb(255, 249, 239);
}
.navbar-menu-icon {
  display: none;
}
.navbar-logo {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo-link {
  font-size: 2.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(64, 41, 0);
}
.navbar-logo-link:hover {
  color: rgb(255, 188, 64);
}
.navbar-links {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}
.navbar-links a {
  color: rgb(64, 41, 0);
}
.navbar-links a:hover {
  color: rgb(255, 188, 64);
  border-bottom: 0.25rem solid rgb(255, 188, 64);
  padding-bottom: 0.5rem;
}
/* navbar ends */

/* menu starts */
@media screen and (max-width: 768px) {
  .navbar-menu-icon {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgb(64, 41, 0);
    font-size: 3rem;
    font-weight: 600;
  }
  .navbar-logo {
    position: relative;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: auto;
    width: 90vw;
    left: 62.5px;
    background-color: rgb(64, 41, 0);
    padding: 3rem;
  }
  .navbar-links a {
    color: rgb(255, 255, 255);
  }
  .navbar-links li {
    flex-basis: 45.5px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .fa-x {
    transform: rotate(180deg);
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgb(64, 41, 0);
    font-size: 3rem;
    font-weight: 600;
  }
  .fa-x .fa-bars {
    display: none;
  }
  .navbar-links a:hover {
    border-radius: 0.5rem;
  }
}
/* menu ends */

/* home starts */
.home {
  position: relative;
  padding: 11.5rem;
  padding-top: 9rem;
  background-color: white;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
.home-image {
  height: 230px;
}
.home-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.home-content {
  margin-top: 4rem;
}
.home-content h2 {
  font-size: 5rem;
  color: rgb(121, 78, 0);
}
.home-content h2 span {
  color: rgb(255, 174, 26);
}
.home-content p {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.home-content a {
  background-color: rgb(255, 174, 26);
  padding: 1rem;
  margin: 10rem 3rem 3rem 3rem;
  border-radius: 50px;
  font-size: 2rem;
  color: white;
  border: none;
  outline: none;
  font-weight: 600;
}
.home-content a:hover {
  background-color: rgb(128, 83, 0);
}
.home-content a:hover span {
  padding-right: 0.25rem;
}
.social-icons-links {
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  font-size: 2.5rem;
}
.social-icons-links a {
  color: rgb(255, 192, 77);
  border-radius: 100%;
  padding: 0.25rem 0.75rem;
  background: black;
  transition: all 0.2s linear;
}
.social-icons-links a:hover {
  background-color: rgb(255, 192, 77);
  color: black;
}
@media (max-width: 950px) {
  .home {
    flex-direction: column;
    padding-left: 1rem;
  }
}
@media (max-width: 450px) {
  .home {
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .home-content h2 {
    font-size: 2.125rem;
  }
  .home-content p {
    font-size: 1.75rem;
  }
  .home-content a {
    font-size: 1.5rem;
  }
  .home-image img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 350px) {
  .home {
    padding-top: 150px;
  }
  .home-content {
    margin-top: 0;
  }
  .home-image img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 250px) {
  .social-icons-links {
    font-size: 1.75rem;
  }
}
/* home ends */

/* about starts */
.about {
  padding: 5rem;
  padding-top: 80px;
  background-color: rgb(255, 249, 239);
}
.about-info {
  display: flex;
  gap: 12rem;
}
.about-image img {
  height: 380px;
  width: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5%;
}
.about-image img:hover {
  mix-blend-mode: normal;
}
.about-content h3 {
  font-size: 2rem;
}
.about-tag {
  font-size: 1.5rem;
  font-weight: 600;
}
.about-content p {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.about-box span {
  color: rgb(255, 170, 13);
}
.about-email {
  text-transform: lowercase;
}
.about-box-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.resume-btn {
  width: 27%;
  display: flex;
  background-color: rgb(255, 174, 26);
  padding: 1rem;
  border-radius: 10px;
  font-size: 2rem;
  border: none;
  outline: none;
  font-weight: 600;
  margin-top: 3rem;
  justify-content: center;
}
.resume-btn a {
  color: white;
}
.resume-btn:hover {
  background-color: rgb(128, 83, 0);
}
.resume-btn:hover span {
  padding-right: 0.25rem;
}
@media (max-width: 1050px) {
  .resume-btn {
    font-size: 1.5rem;
  }
}
@media (max-width: 950px) {
  .resume-btn {
    width: 30%;
  }
}
@media (max-width: 850px) {
  .about {
    padding-top: 120px;
  }
  .about-info {
    gap: 5rem;
    flex-direction: column;
    align-items: center;
  }
  .about-image img {
    height: auto;
    width: 300px;
  }
  .resume-btn {
    width: 20%;
    font-size: 1.25rem;
  }
}
@media (max-width: 550px) {
  .about-image img {
    mix-blend-mode: normal;
  }
  .resume-btn {
    width: 40%;
  }
}
@media (max-width: 350px) {
  .about-image img {
    width: 200px;
  }
  .about-content {
    width: 80%;
  }
  .about-email {
    display: none;
  }
  .resume-btn {
    width: 75%;
  }
}
/* about ends */

/* education starts */
.education {
  background-color: white;
  padding: 8rem;
}
.education-quote {
  text-align: center;
  font-size: 1.5rem;
}
.education-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education-box {
  padding: 2rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}
.education-box:hover {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.education-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education-content h3 {
  color: rgb(105, 75, 11);
  font-size: 2rem;
}
.education-content p {
  font-size: 1.5rem;
}
.education-content h4 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: rgb(2, 93, 253);
  font-family: "Nunito", sans-serif;
}
@media (max-width: 1050px) {
  .education-box {
    width: 75%;
  }
}
@media (max-width: 750px) {
  .education-box {
    width: 80%;
  }
  .education-quote {
    font-size: 1.25rem;
  }
}
@media (max-width: 650px) {
  .education-box {
    width: 100%;
  }
  .education-quote {
    font-size: 1.125rem;
  }
}
@media (max-width: 550px) {
  .education-content p {
    font-size: 1.25rem;
  }
}
@media (max-width: 450px) {
  .education-content {
    text-align: center;
  }
  .heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  .education-content h3 {
    font-size: 1rem;
  }
  .education-content p {
    font-size: 1rem;
  }
  .education-content h4 {
    font-size: 1rem;
  }
  .education-box {
    border: none;
  }
  .education-box:hover {
    box-shadow: none;
  }
  .heading {
    font-size: 1.5rem;
  }
  .education {
    padding: 15rem 0;
  }
}
/* education ends */

/* skills starts */
.skills {
  padding: 7rem;
  background-color: rgb(128, 83, 0);
}
.skills-heading {
  color: white;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgb(77, 50, 0);
}
.skills-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: black;
  width: 100px;
  height: 100px;
}
.skills-info span {
  color: white;
  font-size: 2rem;
}
@media (max-width: 350px) {
  .skills-info {
    width: 50%;
    background-color: transparent;
  }
  .skills-container {
    background-color: transparent;
  }
}
@media (max-width: 300px) {
  .skills {
    padding-top: 15rem;
  }
}
/* skills ends */

/* project starts */
.projects {
  background-color: white;
  padding: 3rem;
  padding-top: 10rem;
}
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.project-info {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
}
.project-image img {
  border: 1px solid black;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
}
.project-desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Nunito", sans-serif;
}
.project-desc h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(105, 75, 11);
}
.project-desc p {
  font-size: 1.5rem;
}
.technologies-used p {
  text-transform: uppercase;
  color: rgb(2, 93, 253);
  padding-bottom: 1rem;
}
.project-links {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.project-links a {
  color: rgb(255, 192, 77);
  border-radius: 100%;
  padding: 0.25rem 0.75rem;
  background: black;
  transition: all 0.2s linear;
}
.project-links a:hover {
  background-color: rgb(255, 192, 77);
  color: black;
}
@media (max-width: 600px) {
  .project-image {
    display: none;
  }
}
@media (max-width: 350px) {
  .technologies-used p {
    display: none;
  }
}
/* project ends */

/* experience starts */
.experience {
  background-color: rgb(255, 249, 239);
  padding: 3rem;
  padding-top: 10rem;
}
.experience-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-box {
  padding: 1rem;
  width: 50%;
  border-top: 0.25rem dashed rgb(2, 93, 253);
  position: relative;
}
.experience-box h3 {
  font-size: 2rem;
  color: rgb(105, 75, 11);
}
.experience-box p {
  font-size: 1.5rem;
}
.experience-box span {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  color: rgb(2, 93, 253);
  background-color: black;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-box:nth-child(odd) {
  border-right: 0.25rem dashed rgb(2, 93, 253);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}
.experience-box:nth-child(even) {
  border-left: 0.25rem dashed rgb(2, 93, 253);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
}
.experience-box:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.experience-box:last-child {
  border-bottom-left-radius: 0;
}
.experience-box:nth-child(odd) span {
  right: 0;
  transform: translate(50%, -50%);
}
.experience-box:nth-child(even) span {
  left: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 1050px) {
  .experience-box {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .experience {
    padding-top: 15rem;
  }
}
/* experience ends */

/* contact starts */
.contact {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  padding-top: 7rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.field input,
.message textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(121, 78, 0);
}
.field input:hover,
.message textarea:hover {
  color: rgb(255, 170, 13);
}
.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.button-area button {
  background-color: rgb(255, 170, 13);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.button-area button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: rgb(255, 170, 13);
}
/* contact ends */

/* footer starts */
.footer {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 5rem 0 5rem;
  font-size: 1.5rem;
  background-color: rgb(0, 0, 77);
  color: white;
  gap: 5rem;
}
.footer-top {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.footer-portfolio {
  display: flex;
  flex-direction: column;
  width: 25.25%;
}
.footer-portfolio p {
  color: rgb(242, 242, 242);
}
.singlelink a {
  color: white;
}
.singlelink:hover a,
.singlelink:hover i {
  color: rgb(255, 174, 26);
}
.footer-contact-info i {
  color: rgb(255, 174, 26);
}
.footer-contact-info .email {
  text-transform: lowercase;
}
.share {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}
.share a {
  border-radius: 50%;
  background-color: white;
  color: rgb(0, 0, 77);
  padding: 1rem;
}
.share a:hover {
  background-color: rgb(0, 0, 77);
  border: 1px solid white;
  color: rgb(255, 174, 26);
}
.footer-bottom {
  text-align: center;
}
@media (max-width: 800px) {
  .footer-portfolio {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer-quick-links {
    display: none;
  }
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 300px) {
  .footer {
    font-size: 0.75rem;
  }
}
/* footer ends */
